
  <style>
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

  @import url("https://fonts.googleapis.com/css?family=Faster+One:400|Allerta:400|Inter:500,400,600|Katibeh:400");

  /* The following line is used to measure usage of this code. You can remove it if you want. */
  @import url("https://px.animaapp.com/66384f7c960f5d261e827d27.66384f7d960f5d261e827d2a.xhlVyRS.hch.png");


  .screen textarea:focus,
  .screen input:focus {
    outline: none;
  }

  .screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  .screen div {
    -webkit-text-size-adjust: none;
  }

  .component-wrapper a {
    display: contents;
    pointer-events: auto;
    text-decoration: none;
  }

  .component-wrapper * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    pointer-events: none;
  }

  .component-wrapper a *,
  .component-wrapper input,
  .component-wrapper video,
  .component-wrapper iframe {
    pointer-events: auto;
  }

  .component-wrapper.not-ready,
  .component-wrapper.not-ready * {
    visibility: hidden !important;
  }

  .screen a {
    display: contents;
    text-decoration: none;
  }

  .full-width-a {
    width: 100%;
  }

  .full-height-a {
    height: 100%;
  }

  .container-center-vertical {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    pointer-events: none;
  }

  .container-center-vertical > * {
    flex-shrink: 0;
    pointer-events: auto;
  }

  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }

  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }

  .auto-animated div {
    --z-index: -1;
    opacity: 0;
    position: absolute;
  }

  .auto-animated input {
    --z-index: -1;
    opacity: 0;
    position: absolute;
  }

  .auto-animated .container-center-vertical,
  .auto-animated .container-center-horizontal {
    opacity: 1;
  }

  .overlay-base {
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .overlay-base.animate-appear {
    align-items: center;
    animation: reveal 0.3s ease-in-out 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
  }

  .overlay-base.animate-disappear {
    animation: reveal 0.3s ease-in-out 1 reverse forwards;
    display: block;
    opacity: 1;
    pointer-events: none;
  }

  .overlay-base.animate-disappear * {
    pointer-events: none;
  }

  @keyframes reveal {
    from { opacity: 0 }
   to { opacity: 1 }
  }

  .animate-nodelay {
    animation-delay: 0s;
  }

  .align-self-flex-start {
    align-self: flex-start;
  }

  .align-self-flex-end {
    align-self: flex-end;
  }

  .align-self-flex-center {
    align-self: flex-center;
  }

  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  input:focus {
    outline: none;
  }

  .listeners-active,
  .listeners-active * {
    pointer-events: auto;
  }

  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }

  .smart-layers-pointers,
  .smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
  }

  .listeners-active-click,
  .listeners-active-click * {
    cursor: pointer;
  }

  * {
    box-sizing: border-box;
  }
  :root {
    --black: #000000;
    --gray: #828282;
    --white: #ffffff;

    --font-size-l: 25px;
    --font-size-m: 20px;
    --font-size-s: 16px;
    --font-size-xl: 30px;
    --font-size-xs: 15px;
    --font-size-xxl: 40px;
    --font-size-xxxl: 50px;

    --font-family-allerta: "Allerta", Helvetica;
    --font-family-faster_one: "Faster One", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-katibeh: "Katibeh", Helvetica;
  }
  .body-text {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
  }

  .heading {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
  }

  .katibeh-normal-black-40px {
    color: var(--black);
    font-family: var(--font-family-katibeh);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
  }

  :root {
  }


  /* screen - shop */
      .shop {
        background-color: var(--white);
<!--          border: 100px solid;-->
        border-color: var(--black);
        height: 3220px;
        overflow: hidden;
        overflow-x: hidden;
        position: relative;
        width: 1358px;
      }

      .shop .product-home {
        background-color: #11635e;
        border-radius: 20px;
        height: 670px;
        left: 53px;
        overflow: hidden;
        position: absolute;
        top: 164px;
        width: 1249px;
      }

      .shop .header-with-image-xGHmn0 {
        background-color: transparent;
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/header-with-image.svg);
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 8px;
        box-shadow: 10px 20px 4px #00000033;
        height: 593px;
        left: 762px;
        mix-blend-mode: normal;
        overflow: hidden;
        position: absolute;
        top: 43px;
        width: 422px;
      }

      .shop .copy-xGHmn0 {
        align-items: center;
        gap: 24px;
        height: 309px;
        left: 60px;
        position: absolute;
        top: 73px;
        width: 671px;
      }

      .shop .title-HCf8CN {
        -webkit-text-stroke: 0px var(--black);
        align-self: stretch;
        background-color: transparent;
        color: var(--black);
        font-family: var(--font-family-faster_one);
        font-size: 130px;
        font-style: normal;
        font-weight: 400;
        height: 101px;
        letter-spacing: 0.00px;
        line-height: 195px;
        margin-top: -1.00px;
        position: relative;
        text-align: left;
        white-space: nowrap;
      }

      .shop .boost-our-most-respo-HCf8CN {
        align-self: stretch;
        background-color: transparent;
        color: var(--white);
        font-family: var(--font-family-allerta);
        font-size: var(--font-size-l);
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.00px;
        line-height: 37.5px;
        position: relative;
        text-align: left;
      }

      .shop .button-HCf8CN {
        box-shadow: 0px 4px 4px #00000040;
      }

      .shop .button-VvOv0x {
        box-shadow: 0px 4px 4px #000000;
      }

      .shop .navigation-footer-Gd4xtk {
        background-color: var(--white);
        height: 313px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        top: 2900px;
        width: 1358px;
      }

      .shop .divider-uZ1hJx {
        background-color: transparent;
        height: 1px;
        left: 39px;
        object-fit: cover;
        position: absolute;
        top: 0px;
        width: 1280px;
      }

      .shop .rectangle-2-uZ1hJx {
        background-color: transparent;
        height: 212px;
        left: -3375px;
        position: absolute;
        top: -1047px;
        width: 306px;
      }

      .shop .instagram-icon {
        background-color: transparent;
        height: 40px;
        left: 465px;
        object-fit: cover;
        position: absolute;
        top: 35px;
        width: 40px;
      }

      .shop .facebook-icon {
        background-color: transparent;
        height: 40px;
        left: 562px;
        object-fit: cover;
        position: absolute;
        top: 35px;
        width: 40px;
      }

      .shop .youtube-icon {
        background-color: transparent;
        height: 40px;
        left: 659px;
        object-fit: cover;
        position: absolute;
        top: 35px;
        width: 40px;
      }

      .shop .frame-1321316145-uZ1hJx {
        background-color: #eae4e4;
        border-radius: 30px;
        box-shadow: 0px 4px 4px #00000040;
        height: 178px;
        left: 48px;
        overflow: hidden;
        position: absolute;
        top: 100px;
        width: 668px;
      }

      .shop .map-1-Uk6BsA {
        background-color: transparent;
        height: 158px;
        left: 10px;
        object-fit: cover;
        position: absolute;
        top: 10px;
        width: 648px;
      }

      .shop .ecom-wizards-footer {
        font-family: var(--font-family-katibeh);
        font-size: var(--font-size-xxxl);
        font-weight: 400;
        height: 75px;
        left: 80px;
        letter-spacing: 5.00px;
        line-height: 75px;
        top: 10px;
      }

      .shop .faq-uZ1hJx {
        background-color: transparent;
        height: 60px;
        left: 1011px;
        letter-spacing: 4.00px;
        line-height: 60px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 226px;
        white-space: nowrap;
        width: auto;
      }

      .shop .customer-review-uZ1hJx {
        background-color: transparent;
        height: 60px;
        left: 903px;
        letter-spacing: 4.00px;
        line-height: 60px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 164px;
        white-space: nowrap;
        width: auto;
      }

      .shop .customer-support-uZ1hJx {
        background-color: transparent;
        height: 60px;
        left: 895px;
        letter-spacing: 4.00px;
        line-height: 60px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 102px;
        white-space: nowrap;
        width: auto;
      }

      .shop .about-us {
        background-color: transparent;
        height: 60px;
        left: 971px;
        letter-spacing: 4.00px;
        line-height: 60px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 40px;
        white-space: nowrap;
        width: auto;
      }

<!--        .shop .kid-frame-Gd4xtk {-->
<!--          background-color: transparent;-->
<!--          height: 965px;-->
<!--          left: -14px;-->
<!--          overflow: hidden;-->
<!--          position: absolute;-->
<!--          top: 2871px;-->
<!--          width: 1332px;-->
<!--        }-->

      .shop .card-list-wSWHDG {
        left: 80px;
      }

      .shop .card-ogxsEo {
        align-self: stretch;
        width: 100%;
      }

      .shop .image-8veTp3 {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-7.svg);
      }

      .shop .copy-8veTp3 {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .card-xenzqx {
        align-self: stretch;
        width: 100%;
      }

      .shop .image-uFQzhw {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-3.svg);
      }

      .shop .copy-uFQzhw {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .card-big-wSWHDG {
        left: 644px;
      }

      .shop .image-6qJxdy {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image.svg);
      }

      .shop .copy-6qJxdy {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

<!--        .shop .kids-wSWHDG {-->
<!--          font-weight: 600;-->
<!--          height: auto;-->
<!--          left: 80px;-->
<!--          line-height: 44.0px;-->
<!--          position: absolute;-->
<!--          top: -1px;-->
<!--          width: 742px;-->
<!--        }-->

      .shop .see-more-women-wSWHDG {
        align-items: center;
        background-color: #bbd3d7;
        border: 0px none;
        border-radius: 8px;
        box-shadow: 0px 3px 2px #00000080;
        display: flex;
        gap: 8px;
        justify-content: center;
        left: 621px;
        padding: 14px 24px;
        position: absolute;
        top: 901px;
        width: 199px;
      }

      .shop .women-frame-Gd4xtk {
        background-color: transparent;
        height: 959px;
        left: -14px;
        overflow: hidden;
        position: absolute;
        top: 1879px;
        width: 1332px;
      }

      .shop .card-list-cgyjLU {
        left: 847px;
      }

      .shop .card-6nSAxv {
        align-self: stretch;
        width: 100%;
      }

      .shop .image-4SGsG2 {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-8.svg);
      }

      .shop .copy-4SGsG2 {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .card-K8Y8AH {
        align-self: stretch;
        width: 100%;
      }

      .shop .image-NGNkG3 {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-4.svg);
      }

      .shop .copy-NGNkG3 {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .card-big-cgyjLU {
        left: 80px;
      }

      .shop .image-p5MzZz {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-1.svg);
      }

      .shop .copy-p5MzZz {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .women-cgyjLU {
        font-weight: 600;
        height: auto;
        left: 80px;
        line-height: 44.0px;
        position: absolute;
        top: -1px;
        width: 742px;
      }

      .shop .see-more-women-cgyjLU {
        background-color: transparent;
        height: 56px;
        left: 620px;
        position: absolute;
        top: 902px;
        width: 201px;
      }

      .shop .men-frame-Gd4xtk {
        background-color: transparent;
        height: 924px;
        left: -14px;
        overflow: hidden;
        position: absolute;
        top: 922px;
        width: 1332px;
      }

      .shop .card-grid-m11PxH {
        align-items: flex-end;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        gap: 32px 32px;
        justify-content: space-between;
        left: 80px;
        position: absolute;
        top: 76px;
        width: 1282px;
      }

      .shop .card-1qcN4w {
        width: 404px;
      }

      .shop .image-ovRHqb {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-9.svg);
      }

      .shop .copy-ovRHqb {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .description-of-first-product-vlz5mP {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .card-SKdLEC {
        width: 404px;
      }

      .shop .image-Ffx9Js {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-6.svg);
      }

      .shop .copy-Ffx9Js {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .description-of-second-product-2Ku0VX {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .card-moWFGJ {
        width: 404px;
      }

      .shop .image-CdSoXy {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-11.svg);
      }

      .shop .copy-CdSoXy {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .description-of-third-product-n2SEh7 {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .card-lz3DAq {
        width: 404px;
      }

      .shop .image-HlSRuC {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-5.svg);
      }

      .shop .copy-HlSRuC {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .description-of-fourth-product-lyp2A3 {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .card-Y1Z4AG {
        width: 404px;
      }

      .shop .image-J5SDxC {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-10.svg);
      }

      .shop .copy-J5SDxC {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .description-of-fifth-product-i0LBeq {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .card-8ILjLK {
        width: 404px;
      }

      .shop .image-OxJ2MX {
        background-image: url(https://cdn.animaapp.com/projects/66384f7e960f5d261e827d2c/releases/66384fb223b0f22df239a2e3/img/image-2.svg);
      }

      .shop .copy-OxJ2MX {
        align-items: flex-start;
        align-self: stretch;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      .shop .description-of-sixth-product-BV0x3E {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .men-m11PxH {
        font-weight: 600;
        height: auto;
        left: 81px;
        line-height: 44.0px;
        position: absolute;
        top: -1px;
        width: 755px;
      }

      .shop .see-more-men-m11PxH {
        align-items: center;
        background-color: #bad3d6;
        border: 0px none;
        border-radius: 8px;
        box-shadow: 0px 3px 2px #00000080;
        display: flex;
        gap: 8px;
        justify-content: center;
        left: 621px;
        padding: 14px 24px;
        position: absolute;
        top: 871px;
        width: 199px;
      }

      .shop .navigation-Gd4xtk {
        background-color: var(--white);
        height: 164px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        width: 1356px;
      }

      .shop .items-uRdukR {
        box-shadow: 0px 0px 0px #00000040;
        display: flex;
        left: 926px;
        top: 50px;
        width: 361px;
      }

      .shop .shopping_cart-1-IulDNc {
        background-color: transparent;
        height: 30px;
        object-fit: cover;
        position: relative;
        width: 30px;
      }

      .shop .profile-IulDNc {
        align-items: center;
        background-color: transparent;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 24px;
        position: relative;
      }

      .shop .avatar-hY1XsS {
        background-color: transparent;
        height: 72px;
        margin-bottom: -8.00px;
        margin-left: -4.00px;
        margin-right: -4.00px;
        position: relative;
        width: 72px;
      }

      .shop .ecom-wizards-header {
        font-family: var(--font-family-katibeh);
        font-size: 40px;
        font-weight: 500;
        height: 45px;
        left: 56px;
        letter-spacing: 0.00px;
        line-height: 45px;
        top: 52px;
      }

      .shop .items-0C6xpF {
        display: inline-flex;
        left: 294px;
        top: 67px;
      }

      .shop .home-T2mOXN {
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-top: -1.00px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
      }

      .shop .men-T2mOXN {
        font-weight: 500;
        line-height: 30px;
        margin-top: -1.00px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
      }

      .shop .women-T2mOXN {
        font-weight: 500;
        line-height: 30px;
        margin-top: -1.00px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
      }

<!--        .shop .kids-T2mOXN {-->
<!--          font-weight: 500;-->
<!--          line-height: 30px;-->
<!--          margin-top: -1.00px;-->
<!--          position: relative;-->
<!--          white-space: nowrap;-->
<!--          width: fit-content;-->
<!--        }-->

      .shop .button {
        align-items: center;
        background-color: #80c8f1;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 8px;
        justify-content: center;
        left: 0px;
        overflow: hidden;
        padding: 14px 24px;
        position: absolute;
        top: 227px;
        width: 127px;
      }

      .shop .card {
        align-items: flex-start;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 366px;
        position: relative;
      }

      .shop .card-big {
        align-items: flex-start;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 764px;
        position: absolute;
        top: 76px;
        width: 735px;
      }

      .shop .card-list {
        align-items: flex-start;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: absolute;
        top: 76px;
        width: 515px;
      }

      .shop .copy {
        background-color: transparent;
        display: flex;
        flex-direction: column;
      }

      .shop .description-of-featured-product {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .description-of-lower-product {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .description-of-top-product {
        align-self: stretch;
        background-color: transparent;
        color: var(--gray);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }

      .shop .ecom-wizards {
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        position: absolute;
        text-align: left;
        white-space: nowrap;
        width: auto;
      }

      .shop .featured-product {
        align-self: stretch;
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-top: -1.00px;
        position: relative;
        text-align: left;
      }

      .shop .image {
        align-self: stretch;
        background-color: transparent;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 8px;
        flex: 1;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
        width: 100%;
      }

      .shop .items {
        align-items: center;
        background-color: transparent;
        gap: 48px;
        justify-content: flex-end;
        position: absolute;
      }

<!--        .shop .kids {-->
<!--          background-color: transparent;-->
<!--          color: var(&#45;&#45;black);-->
<!--          font-style: normal;-->
<!--          text-align: left;-->
<!--        }-->

      .shop .men {
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        text-align: left;
      }

      .shop .product {
        align-self: stretch;
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-top: -1.00px;
        position: relative;
        text-align: left;
      }

      .shop .see-more {
        background-color: transparent;
        color: var(--black);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xs);
        font-style: normal;
        font-weight: 400;
        letter-spacing: 3.00px;
        line-height: 22.5px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
      }

      .shop .shop-now {
        -webkit-text-stroke: 1px var(--black);
        background-color: transparent;
        color: #2d1212;
        font-family: var(--font-family-inter);
        font-size: var(--font-size-s);
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.00px;
        line-height: 24px;
        margin-left: -1.00px;
        margin-top: -2.00px;
        position: relative;
        text-align: left;
        text-shadow: 0px 4px 4px #00000040;
        white-space: nowrap;
        width: fit-content;
      }

      .shop .women {
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        text-align: left;
      }

      .shop .price {
        align-self: stretch;
        background-color: transparent;
        color: var(--black);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        text-align: left;
      }
</style>
