<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Products</h1>
    <div class="row">
        <div class="col-md-4" th:each="product : ${listProducts}">
            <div class="card mb-4">
                <img th:src="@{/images/${product.product_image}}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.product_name}">Product Name</h5>
                    <p class="card-text" th:text="${product.description}">Product Description</p>
                    <p class="card-text"><strong th:text="${product.price}">Product Price</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
